@use "../utils" as *;

/*----------------------------------------*/
/* Forms styles
/*----------------------------------------*/
// Form group
.app-form-group {
  .input-field {
    position: relative;
    width: 100%;

    input {
      font-size: 14px;

      @include td-placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }
    }

    textarea {
      font-size: 14px;
      padding: 12px 15px;
      height: 130px;
      resize: none;
      line-height: 1.5;

      &::-webkit-input-placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }

      &::-moz-placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }

      &:-moz-placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }

      &:-ms-input-placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }

      &::placeholder {
        color: rgba(8, 8, 8, 0.65);
        font-size: 14px;
      }

      &:focus {
        border-color: rgba(0, 112, 255, 0.5);
      }
    }

    .form-control {
      font-size: 14px;
      box-shadow: none;
      color: var(--td-black);
      border-radius: 6px;
      padding: 11px 12px;
      border: 1px solid #8d8f95;

      &:focus {
        border-color: var(--td-primary);
      }

      &:disabled {
        background-color: #f1f1f1;
        color: rgba(8, 8, 8, 0.7);
        cursor: not-allowed;
      }
    }

    .form-select {
      outline: none;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi4zOTc3IDE1LjY2MzRDMTIuMTc4IDE1Ljg4MzEgMTEuODIxOSAxNS44ODMxIDExLjYwMjIgMTUuNjYzNEw1Ljg2NzM5IDkuOTI4NTNDNS42NDc3MiA5LjcwODg2IDUuNjQ3NzIgOS4zNTI3NiA1Ljg2NzM5IDkuMTMzMDhMNi4xMzI1NiA4Ljg2Nzg4QzYuMzUyMjIgOC42NDgyMSA2LjcwODM4IDguNjQ4MjEgNi45MjgwNSA4Ljg2Nzg4TDEyIDEzLjkzOThMMTcuMDcxOSA4Ljg2Nzg4QzE3LjI5MTYgOC42NDgyMSAxNy42NDc3IDguNjQ4MjEgMTcuODY3NCA4Ljg2Nzg4TDE4LjEzMjYgOS4xMzMwOEMxOC4zNTIyIDkuMzUyNzYgMTguMzUyMiA5LjcwODg2IDE4LjEzMjYgOS45Mjg1M0wxMi4zOTc3IDE1LjY2MzRaIiBmaWxsPSIjMjIyMjIyIi8+Cjwvc3ZnPg==") no-repeat right 0.75rem center;
      background-size: 1.25rem;
      transition: border-color 0.3s ease;
      height: 50px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      font-size: 14px;
      background-color: #fff;
      border-color: #8d8f95;

      &:focus {
        font-size: 14px;
        box-shadow: none;
        border-color: var(--td-primary);
      }
    }
  }

  .input-label {
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.7);

    span {
      padding-inline-start: 1px;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flexbox;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      color: var(--td-danger);
    }
  }

  code {
    color: var(--td-danger);
  }
}

// File upload
.file-upload-wrap {
  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .input-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #080808;
  }

  #uploadItems {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.upload-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 155px;
  text-align: center;

  input[type=file] {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
  }

  label {
    z-index: 1;
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    inset-inline-end: 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 0.4s;
    background-color: var(--td-white);
    border: 1px solid #8d8f95;
    border-radius: 8px;
    padding: 14px;

    span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      transition: color 0.3s;
      color: rgba(8, 8, 8, 0.65);

      b {
        font-weight: 500;
        font-size: 14px;
      }
    }

    .type-file-text {
      margin-top: 5px;
      color: #E4544B;
    }

    .upload-icon {
      width: 20px;
      margin: 0 auto;
      margin-bottom: 4px;
    }
  }

  label.file-ok {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-color: var(--td-primary);

    span {
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      width: 100%;
      padding: 0.3rem;
      background-color: rgb(228 224 247);
      font-weight: 500;
      font-size: 14px;
      margin: auto;
      text-decoration: none;
      color: var(--td-heading);
    }

    .upload-icon {
      display: none;
    }
  }
}

.file-upload-close {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px;
  background: var(--td-danger);
  font-size: 13px;
  z-index: 55;
  width: 26px;
  height: 26px;
  color: var(--td-white);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-file-close {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px;
  background: var(--td-danger);
  font-size: 13px;
  z-index: 55;
  width: 26px;
  height: 26px;
  color: var(--td-white);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// Toggle switch
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + {
        .slider {
          background-color: var(--td-primary);

          &:before {
            transform: translate(20px, -50%);
          }
        }
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    transition: 0.4s;
    height: 24px;
    width: 44px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      top: 50%;
      background-color: var(--td-white);
      border-radius: 50%;
      transition: 0.4s;
      transform: translateY(-50%);
    }
  }
}

.toggle-label {
  display: inline-block;
  font-size: 14px;
}

// Site map
.site-map-title {
  font-size: 14px;
  display: inline-block;
  color: var(--td-primary);
}