@use "../../utils" as *;

/*----------------------------------------*/
/* App layout Styles
/*----------------------------------------*/
.app-body-main {
  margin-right: 320px;
  display: flex;
}

.app-page-body {
  min-height: 100vh;
  width: 100%;
}

.app-sidebar-area {
  position: fixed;
  top: 0;
  width: 320px;
  z-index: 100;
  background-color: #f0f0f1;
  height: 100vh;
  right: 0;
  overflow: auto;
}

.app-sidebar-main {
  border: 1px solid #dcdcde;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f1;
  display: flex;
  position: fixed;
  width: 320px;
}

.app-sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 7px 12px 7px 0;
  position: relative;

  .close {
    align-items: center;
    border-right: 1px solid #dcdcde;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.3s;
    width: 50px;
  }
}

.app-sidebar-notice {
  padding: 16px 20px;
  background: var(--td-white);
  border-bottom: 1px solid #dcdcde;
}

.app-sidebar-top-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .contents {
    h3 {
      font-weight: 500;
      line-height: 1.5;
      font-size: 14px;
    }

    span {
      color: #50575e;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .icon {
    flex: 0 0 auto;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.app-sidebar-menu-item {
  align-items: center;
  border-right: 4px solid var(--td-white);
  cursor: move;
  display: flex;
  justify-content: space-between;
  padding: 14px 10px 14px 14px;
  transition: 0.1s;
  border-bottom: 1px solid #dcdcde;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  border-right: 4px solid #fff;
  background: var(--td-white);

  &:hover {
    background: #f5f5f5;
    border-right: 4px solid #ff4a17;
  }
}

.app-customize-area {
  background-color: inherit;
  flex: none;
  flex-grow: 1;
  height: 100%;
  right: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 320px;
  border-right: 1px solid #ddd;
  padding-bottom: 50px;
}

.app-customize-area.active {
  right: 0;
}

.app-customize-top-inner {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--td-white);
  padding: 8px 12px;
  padding-right: 0;
  flex-direction: row-reverse;
  text-align: right;

  .contents {
    h3 {
      font-size: 14px;
    }

    span {
      font-size: 14px;
      font-weight: 400;
    }

    h4 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.app-customize-forms {
  padding: 10px;
}

.app-sidebar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app-customize-back {
  align-items: center;
  background: var(--td-white);
  border: none;
  border-left: 1px solid #dcdcde;
  display: flex;
  transition: 0.3s;
  width: 46px;
  justify-content: center;
  height: 46px;
}

.app-customize-contents {
  h4 {
    color: #50575e;
    font-size: 14px;
  }

  span {
    color: #50575e;
    font-size: 14px;
  }
}

.app-sidebar-notice-contents {
  p {
    color: #50575e;
    font-size: 13px;
    margin: 0;
    padding-top: 12px;
  }
}

.notice-show-toggle {
  &:hover {
    color: #ff4a17;
  }
}

.notice-text {
  display: none;
}